body {
	position: relative;
	left: 10px;
	font-size: 20px;
	font: inherit;

}
.criteria {
	text-indent: 30px;
}

input {
	vertical-align: middle;
	height: 21px;
	width: 100px;
	text-align: right;
	padding-top: 0px;

}

.footer {
	position: fixed;
	bottom: 0;
}

.submit {
	cursor: pointer;
	background-color: #dcdcdc;
	padding: 5px;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	width: 42px;
	position: relative;
	top: 30px;
	left: 30px;
}

.calculate {
	cursor: hand;
	background-color: #dcdcdc;
	padding: 5px;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	width: 74px;
	position: relative;
	left: 275px;	
}

h4{
	padding: 10px;
}
.discounts {
	width: 50px;
}

.generaltable{
	position: relative;
	left: 30px;
	width: 280px;
	border: 1px solid #000000;
}

.storagetable{
	position: relative;
	left: 30px;
	width: 650px;
}

#instancetable{
	position: relative;
	left: 30px;
	top: 10px;
}

tr, th, td {
	height: 25px;
	width: 160px;
	text-align: center;
	border: 2px solid #000000;
}

.instancebuttons {
	width: 100px;
	text-align: middle;
	position: relative;
}

.instanceform {
	position: relative;
	left: 30px;
}

.submitbutton {
	position: relative;
	text-align: middle;
	width: 60px;
	top: 20px;
	left: 50px;
}

.PDFbutton {
	position: relative;
	text-align: middle;
	width: 100px;
	top: 10px;
}

.quantity {
	width: 50px;
}

.updown {
	position: relative;
	top: 2px;
	left: 4px;
}

.discounttable {
	position: relative;
	left: 30px;
	width: 390px;
}

.discountinput {
	width: 50px;
}

.prepared {
	text-align: left;
	width: 200px;
}

.storageinput{
	width: 50px;
}

#page {
	position: relative;
	left: 10px;
	font-size: 15px;
	line-height: 20px;

}




