<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- insert bracket ico here -->
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <title>Discounts</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
    <script type="text/javascript" src="../js/discount.js"></script>

  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Discounts</a>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <h4>Discounts</h4>
    <table class="discounttable">
      <tr>
        <th>Storage Discount</th>
        <th>Compute Discount</th>
        <th>Security Discount</th>
      </tr>
      <tr>
        <td><form name="Storage Discount">
            <input type="text" name="user" maxlength="15" id="storagediscount" class="discountinput" value="15"/> %
        </form></td>
        <td><form name="Compute Disount">
            <input type="text" name="user" maxlength="15" id="computediscount" class="discountinput" value="20"/> %
        </form></td>
        <td><form name="Security Discount">
            <input type="text" name="user" maxlength="15" id="securitydiscount" class="discountinput" value="10"/> %
        </form></td>
      </tr>
    </table>
    <form class="instanceform">
      <button class="submitbutton" type="button" onclick="openEstimate()">Calculate</button>
    </form>
    <div class="footer" ="footer">
      <p>&copy; Bracket Computing 2014</p>
    </div>
  </body>
</html>
